body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0px;
    height: 400px;
}

iframe.banner {
    width: 100%;
    border: none;
    display: block;
}
iframe.car {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

footer {
    padding: 5px;
    background-color: grey;
    color: white;
    font-size: 9pt;
    height: 22px;
    line-height: 22px;
}
footer a {
    color: white;
}

#btnReplayCar {
    position: absolute;
    right: 10px;
    display: none;
}